<?xml version="1.0"?>
<config>
    <global>
        <models>
            <varien>
                <class>Varien</class>
            </varien>
            <core>
                <class>Core_Model</class>
                <resourceModel>core_resource</resourceModel>
            </core>
            <core_resource>
                <class>Core_Model_Resource</class>
                <deprecatedNode>core_mysql4</deprecatedNode>
                <entities>
                    <config_data>
                        <table>core_config_data</table>
                    </config_data>
                    <layout_update>
                        <table>core_layout_update</table>
                    </layout_update>
                    <layout_link>
                        <table>core_layout_link</table>
                    </layout_link>
                    <website>
                        <table>core_website</table>
                    </website>
                    <store>
                        <table>core_store</table>
                    </store>
                    <variable>
                        <table>core_variable</table>
                    </variable>
                    <variable_value>
                        <table>core_variable_value</table>
                    </variable_value>
                </entities>
            </core_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <core>
                <use>standard</use>
                <args>
                    <module>Core</module>
                    <frontName>core</frontName>
                </args>
            </core>
        </routers>
        <layout>
            <updates>
                <core>
                    <file>core.xml</file>
                </core>
            </updates>
        </layout>
    </frontend>
    <default>
        <encryption>
            <key>872548da1b7a8d6a2a97c73027e2aba2</key>
            <encryption_model>Core_Model_Encryption</encryption_model>
        </encryption>
        <web>
            <routers>
                <standard>
                    <area>frontend</area>
                    <class>Core_Controller_Varien_Router_Standard</class>
                </standard>
            </routers>
            <unsecure>
                <base_url>{{base_url}}</base_url>
                <base_web_url>{{unsecure_base_url}}</base_web_url>
                <base_link_url>{{unsecure_base_url}}</base_link_url>
                <base_js_url>{{unsecure_base_url}}js/</base_js_url>
                <base_skin_url>{{unsecure_base_url}}skin/</base_skin_url>
                <base_media_url>{{unsecure_base_url}}media/</base_media_url>
            </unsecure>
            <secure>
                <base_url>{{base_url}}</base_url>
                <base_web_url>{{secure_base_url}}</base_web_url>
                <base_link_url>{{secure_base_url}}</base_link_url>
                <base_js_url>{{secure_base_url}}js/</base_js_url>
                <base_skin_url>{{secure_base_url}}skin/</base_skin_url>
                <base_media_url>{{secure_base_url}}media/</base_media_url>
                <use_in_frontend>0</use_in_frontend>
                <use_in_adminhtml>0</use_in_adminhtml>
                <offloader_header>SSL_OFFLOADED</offloader_header>
            </secure>
            <cookie>
                <cookie_lifetime>3600</cookie_lifetime>
                <cookie_httponly>1</cookie_httponly>
                <cookie_restriction>1</cookie_restriction>
                <cookie_restriction_lifetime>31536000</cookie_restriction_lifetime>
            </cookie>
            <session>
                <use_remote_addr>0</use_remote_addr>
                <use_http_via>0</use_http_via>
                <use_http_x_forwarded_for>0</use_http_x_forwarded_for>
                <use_http_user_agent>0</use_http_user_agent>
                <use_frontend_sid>1</use_frontend_sid>
            </session>
            <browser_capabilities>
                <cookies>1</cookies>
                <javascript>1</javascript>
            </browser_capabilities>
            <login>
                <failed_login>3</failed_login>
                <failed_login_seconds>30</failed_login_seconds>
            </login>
            <password>
                <min_lenght>8</min_lenght>
            </password>
            <password_reset>
                <expire_in_minutes>5</expire_in_minutes>
            </password_reset>
            <activate_account_hash>
                <expire_in_minutes>15</expire_in_minutes>
            </activate_account_hash>
            <captcha>
                <input_id>captcha_code</input_id>
                <input_name>ct_captcha</input_name>
                <input_text>Prove you are not robot</input_text>
            </captcha>
        </web>
        <mail>
            <smtp>true</smtp>
            <auth>true</auth>
            <host><![CDATA[imap.domain.com]]></host>
            <username><![CDATA[noreply@mydrspace.com]]></username>
            <password><![CDATA[AhcsMarketing123]]></password>
            <port>587</port>
            <encryption><![CDATA[tls]]></encryption>
            <active>1</active>
        </mail>
    </default>
    <varien>
        <class>Varien</class>
    </varien>   
</config>