<?xml version="1.0"?>
<config>
    <modules>
        <Core_Search>
            <version>1.8.2.0</version>
        </Core_Search>
    </modules>
    <global>
        <models>
            <search>
                <class>Core_Search_Model</class>
                <resourceModel>search_resource</resourceModel>
            </search>
            <search_resource>
                <class>Core_Search_Model_Resource</class>
                <deprecatedNode>search_mysql4</deprecatedNode>
                <entities>
                    <search_query>
                        <table>search_query</table>
                    </search_query>
                    <result>
                        <table>search_result</table>
                    </result>
                    <fulltext>
                        <table>search_fulltext</table>
                    </fulltext>
                </entities>
            </search_resource>
        </models>
        <helpers>
            <search>
                <class>Core_Search_Helper</class>
            </search>
        </helpers>
        <blocks>
            <search>
                <class>Core_Search_Block</class>
            </search>
        </blocks>
        <index>
            <indexer>
                <search_fulltext>
                    <model>search/indexer_fulltext</model>
                </search_fulltext>
            </indexer>
        </index>
    </global>
    <default>
        <catalog>
            <seo>
                <search_terms>1</search_terms>
                <site_map>1</site_map>
            </seo>
            <search>
                <min_query_length>1</min_query_length>
                <max_query_length>128</max_query_length>
                <max_query_words>10</max_query_words>
                <search_type>1</search_type>
                <use_layered_navigation_count>2000</use_layered_navigation_count>
                <show_autocomplete_results_count>1</show_autocomplete_results_count>
            </search>
        </catalog>
    </default>

</config>

