<?xml version="1.0"?>
<config>
    <modules>
        <login>
            <version>0.1.0</version>
        </login>
    </modules>
    <global>
        <models>
            <login>
                <class>Login_Model</class>
                <resourceModel>login_resource</resourceModel>
            </login>
            <login_resource>
                <class>Login_Model_Resource</class>
                <entities>
                    <user>
                        <table>login_user</table>
                    </user>
                    <password>
                        <table>login_password</table>
                    </password>
                </entities>
            </login_resource>
        </models>
        <helpers>
            <login>
                <class>Login_Helper</class>
            </login>
        </helpers>
        <blocks>
            <login>
                <class>Login_Block</class>
            </login>
        </blocks>
    </global>
    <frontend>
        <routers>
            <login>
                <use>standard</use>
                <args>
                    <module>login</module>
                    <frontName>login</frontName>
                </args>
            </login>
        </routers>
        <layout>
            <updates>
                <login>
                    <file>login.xml</file>
                </login>
                <forgotpassword>
                    <file>forgotpassword.xml</file>
                </forgotpassword>
                <resetpassword>
                    <file>resetpassword.xml</file>
                </resetpassword>
                <forgotusername>
                    <file>forgotusername.xml</file>
                </forgotusername>
            </updates>
        </layout>
    </frontend>
</config>