<?xml version="1.0"?>
<config>
    <modules>
        <Core_Cms>
            <version>1.6.0.0.2</version>
        </Core_Cms>
    </modules>
    <global>
        <models>
            <cms>
                <class>Core_Cms_Model</class>
                <resourceModel>cms_resource</resourceModel>
            </cms>
            <blocks>
                <cms>
                    <class>Core_Cms_Block</class>
                </cms>
            </blocks>
            <cms_resource>
                <class>Core_Cms_Model_Resource</class>
                <deprecatedNode>cms_mysql4</deprecatedNode>
                <entities>
                    <page>
                        <table>cms_page</table>
                    </page>
                    <page_store>
                        <table>cms_page_store</table>
                    </page_store>
                    <block>
                        <table>cms_block</table>
                    </block>
                </entities>
            </cms_resource>
        </models>
        <blocks>
            <cms>
                <class>Core_Cms_Block</class>
            </cms>
        </blocks>
        <cms>
            <page>
                <tempate_filter>cms/template_filter</tempate_filter>
            </page>
            <block>
                <tempate_filter>cms/template_filter</tempate_filter>
            </block>
        </cms>
    </global>
    <default>
        <web>
            <default>
                <cms_home_page>home</cms_home_page>
                <cms_no_route>no-route</cms_no_route>
                <cms_no_cookies>enable-cookies</cms_no_cookies>
                <front>cms</front>
                <!--
                <no_route>cms/index/noRoute</no_route>
                -->
                <!--
                We wil route to local page index
                -->
                <no_route>cmp/index/index</no_route>
                <show_cms_breadcrumbs>1</show_cms_breadcrumbs>
            </default>
        </web>
    </default>
</config>
