<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="tool-tipper">
    <div>Your email must be a properly formatted email address.  The special character @ is required.</div><div>Your email address is not case-sensitive.</div><div>You can also include numbers (0-9) and special characters <code>- + . @ _ ’</code></div>
    <div>If a misspelling is detected in the email domain name, you may choose the suggested entry or continue with the original.</div><div>You may not be able to access all features via usps.com without a valid email address.</div>
</div>
</body>
</html>