<!DOCTYPE html>
<html lang="en">
<head>
	<head><style>@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style></head>
</head>
<body>
<div class="tool-tipper">
	<div>Your username is case-sensitive. Your username can include <code>- . &amp; @ ? _ ’ , / "</code></div>
	<div>Usernames need 6 characters. <br>You <em>can</em> use your email address.</div>
</div>
</body>
</html>
