<?xml version="1.0"?>
<config>
    <modules>
        <profile>
            <version>0.1.0</version>
        </profile>
    </modules>
    <global>
        <models>
            <profile>
                <class>Profile_Model</class>
                <resourceModel>profile_resource</resourceModel>
            </profile>
            <profile_resource>
                <class>Profile_Model_Resource</class>
                <deprecatedNode>profile_mysql4</deprecatedNode>
                <entities>
                    <user>
                        <table>user_profile</table>
                    </user>
                </entities>
            </profile_resource>
        </models>
        <blocks>
            <profile>
                <class>Profile_Block</class>
            </profile>
        </blocks>
    </global>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
    </frontend>
</config>