.login-button {
    border: 0px;
    margin: 0px;
    display: inline;
    background: #fff;
    text: #fff;
    padding: 0px;
    height: 1px;
}

#account-login {
    display: none;
}

.vbox-login-btn-row {
    display: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
