<?xml version="1.0"?>
<config>
    <modules>
        <registration>
            <version>0.1.0</version>
        </registration>
    </modules>
    <global>
        <models>
            <registration>
                <class>Registration_Model</class>
                <resourceModel>registration_resource</resourceModel>
            </registration>
            <!-- Must specify what table of the user -->
            <registration_resource>
                <class>Registration_Model_Resource</class>
                <entities>
                    <loginuser>
                        <table>login_user</table>
                    </loginuser>
                    <userprofile>
                        <table>user_profile</table>
                    </userprofile>
                    <loginpassword>
                        <table>login_password</table>
                    </loginpassword>
                    <session>
                        <table>registration_session</table>
                    </session>
                </entities>
            </registration_resource>
        </models>
        <blocks>
            <registration>
                <class>Registration_Block</class>
            </registration>
        </blocks>
    </global>
    <frontend>
        <routers>
            <registration>
                <use>standard</use>
                <args>
                    <module>registration</module>
                    <frontName>registration</frontName>
                </args>
            </registration>
        </routers>        
        <layout>
            <updates>
                <registration>
                    <file>registration.xml</file>
                </registration>
                <activate>
                    <file>activate.xml</file>
                </activate>
                <accountconfirm>
                    <file>accountconfirm.xml</file>>
                </accountconfirm>
            </updates>
        </layout>           
    </frontend>
</config>