<?xml version="1.0"?>
<config>
    <modules>
        <g2f>
            <version>0.1.0</version>
        </g2f>
    </modules>
    <global>
        <models>
            <g2f>
                <class>G2f_Model</class>
            </g2f>
        </models>
        <blocks>
            <g2f>
                <class>G2f_Block</class>
            </g2f>
        </blocks>
    </global>
    <frontend>
        <routers>
            <g2f>
                <use>standard</use>
                <args>
                    <module>g2f</module>
                    <frontName>g2f</frontName>
                </args>
            </g2f>
        </routers>
        <layout>
            <updates>
                <g2f>
                    <file>g2f.xml</file>
                </g2f>
            </updates>
        </layout>
    </frontend>
</config>